#marketing-banner{
    background-color: #502800cd;
    color: aliceblue;
    padding: 10px 20px;
}

.banner-logo{
    width: 40px;
    height: 40px;
}
.banner-title{
    color: #d3ad6b;
}
.banner-msg{
    color: #ffe7bd96;
}
.dropdown-menu{
    width:40% !important;
    background-color: #694725e9;
    color: #ebcc97e5;
    outline: none !important;
    border-color: #d3ad6b;
}
